<import: src='./adminShared'>
<index:>
  <h1>Admin - Properties</h1>
  <view name="adminShared"></view>

  <div class="row">
    <label for="lastname" class="col-sm-5 control-label">Name</label>
    <label for="lastname" class="col-sm-5 control-label">Value</label>
    <label for="lastname" class="col-sm-2 control-label">Action</label>
  </div>

  <!--  FIXME: sometimes actions do NOT get refreshed live on the page ?!?!
               and sometimes they do. Unconsistant behavior. -->
  {{each _page.adminProperties as #prop}}
    <div class="row">
      <div class="col-sm-5">
          <input type="text" class="form-control" value="{{#prop.name}}">
      </div>
      <div class="col-sm-5">
          <input type="text" class="form-control" value="{{#prop.value}}">
      </div>
      <div class="col-sm-2">
          <button name="duplicate" title="Duplicate" class="btn btn-success" on-click="propertiesDuplicate(#prop.id)"><span class="glyphicon glyphicon-plus"></span></button>
          <button name="delete" class="btn btn-danger" on-click="propertiesDelete(#prop.id)"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    </div>
  {{/}}

  <div class="row">
    <label for="lastname" class="col-sm-2 control-label">Add a new propertie</label>
  </div>

  <div class="row">
    <div class="col-sm-5">
        <input type="text" class="form-control" as="propertieNewName" value="{{_page.adminPropertiesNewName}}">
    </div>
    <div class="col-sm-5">
        <input type="text" class="form-control" as="propertieNewValue" value="{{_page.adminPropertiesNewValue}}">
    </div>
    <div class="col-sm-2">
        <button name="duplicate" class="btn btn-primary" on-click="propertiesAdd()">Add</button>
    </div>
  </div>
