<index:>
  <ul class="nav nav-pills">
    <view name="nav-link" href="/p/admin/properties">Properties</view>&nbsp;|&nbsp;
    <view name="nav-link" href="/p/admin/fields">Fields</view>&nbsp;|&nbsp;
    <view name="nav-link" href="/p/admin/labels">Labels</view>&nbsp;|&nbsp;
    <view name="nav-link" href="/p/admin/views">Views</view>
  </ul>

<nav-link:>
  <!-- FIXME: why canot use $render.url here??? -->
  <!-- <li class="{{if $render.url === @href}}active{{/}}"> -->
    <a href="{{@href}}">{{@content}}</a>&nbsp;
  <!-- </li> -->
