<import: src='./adminShared'>
<index:>
  <h1>Admin - Fields</h1>
  <view name="adminShared"></view>

  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="2"><label class="glyphicon glyphicon-log-out"></label> Source (external)</th>
        <th colspan="3"><label class="glyphicon glyphicon-log-in"></label> Destination (internal)</th>
        <th colspan="5"></th>
      </tr>
      <tr>
        <th>
          <label for="lastname" class="control-label">Table</label>
        </th>
        <th>
          <label for="lastname" class="control-label">Field</label>
        </th>
        <th>
          <label for="lastname" class="control-label">Number</label>
        </th>
        <th>
          <label for="lastname" class="control-label">Collection</label>
        </th>
        <th>
          <label for="lastname" class="control-label">Field</label>
        </th>
        <th>
          <label for="lastname" class="control-label">Language</label>
        </th>
        <th>
          <label for="lastname" class="control-label">Internal Name</label>
        </th>
        <th>
          <label for="lastname" class="control-label">Function</label>
        </th>
        <th>
          <label for="lastname" class="control-label">Comment</label>
        </th>
        <th>
          <label for="lastname" class="control-label">Action</label>
        </th>
      </tr>
    </thead>
    <tbody>
      {{each _page.adminFields as #field}}
      <tr>
        <td>
          <input type="text" class="form-control" value="{{#field.sourceTable}}">
        </td>
        <td>
          <input type="text" class="form-control" value="{{#field.sourceField}}">
        </td>
        <td>
          <input type="text" class="form-control" value="{{#field.number}}">
        </td>
        <td>
          <input type="text" class="form-control" value="{{#field.destinationCollection}}">
        </td>
        <td>
          <input type="text" class="form-control" value="{{#field.destinationField}}">
        </td>
        <td>
          <dropdown value='{{#field.language}}' options='{{_page.optionsLanguages}}'></dropdown>
        </td>
        <td>
          <input type="text" class="form-control" value="{{#field.internalName}}">
        </td>
        <td>
          <textarea class='form-control' rows='1' id='notes'>{{#field.function}}</textarea>
        </td>
        <td>
          <textarea class='form-control' rows='1' id='notes'>{{#field.comment}}</textarea>
        </td>
        <td nowrap>
          <button name="duplicate" title="Duplicate" class="btn btn-sm btn-success" on-click="fieldsDuplicate(#field.id)"><span class="glyphicon glyphicon-plus"></span></button>
          <button name="delete" class="btn btn-sm btn-danger" on-click="fieldsDelete(#field.id)"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
      </tr>
      {{/}}
      <tr>
        <td colspan="10">
          <label for="lastname" class="control-label">Add a new field</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" class="form-control" value="{{_page.adminFieldNew.sourceTable}}">
        </td>
        <td>
          <input type="text" class="form-control" value="{{_page.adminFieldNew.sourceField}}">
        </td>
        <td>
          <input type="text" class="form-control" value="{{_page.adminFieldNew.number}}">
        </td>
        <td>
          <input type="text" class="form-control" value="{{_page.adminFieldNew.destinationCollection}}">
        </td>
        <td>
          <input type="text" class="form-control" value="{{_page.adminFieldNew.destinationField}}">
        </td>
        <td>
          <dropdown value='{{_page.adminFieldNew.language}}' options='{{_page.optionsLanguages}}'></dropdown>
        </td>
        <td>
          <input type="text" class="form-control" value="{{_page.adminFieldNew.internalName}}">
        </td>
        <td>
          <textarea class='form-control' rows='1' id='notes'>{{_page.adminFieldNew.function}}</textarea>
        </td>
        <td>
          <textarea class='form-control' rows='1' id='notes'>{{_page.adminFieldNew.comment}}</textarea>
        </td>
        <td nowrap>
          <button name="duplicate" class="btn btn-primary" on-click="fieldsAdd()">Add</button>
        </td>
      </tr>
    </tbody>

  </table>
