<index:>
  <ul class="nav nav-pills">
    <view name="nav-link" href="/p/admin/properties">Properties</view>
    <view name="nav-link" href="/p/admin/fields">Fields</view>
    <view name="nav-link" href="/p/admin/labels">Labels</view>
    <view name="nav-link" href="/p/admin/views">Views</view>
    <view name="nav-link" href="/p/admin/fieldsViews">Fields-Views</view>
  </ul>

<nav-link:>
  <!-- FIXME: why canot use $render.url here??? -->
  <!-- <li class="{{if $render.url === @href}}active{{/}}"> -->
    <a href="{{@href}}">{{@content}}</a>&nbsp;
  <!-- </li> -->
