<!-- template http://www.layoutit.com/build?r=45286182 -->
<index:>
  <div class="container">
  	<div class="row clearfix">
  		<div class="col-md-2 column">
        Firstname
  		</div>
  		<div class="col-md-6 column">
        inputtext
  		</div>
  		<div class="col-md-2 column">
        Domain
  		</div>
  		<div class="col-md-2 column">
        listbox
  		</div>
  	</div>
    <div class="row clearfix">
      <div class="col-md-2 column">
      </div>
      <div class="col-md-6 column">
      </div>
      <div class="col-md-2 column">
      </div>
      <div class="col-md-2 column">
      </div>
    </div>
  	<div class="row clearfix">
  		<div class="col-md-2 column">
  		</div>
  		<div class="col-md-2 column">
  		</div>
  		<div class="col-md-2 column">
  		</div>
  		<div class="col-md-2 column">
  		</div>
  		<div class="col-md-2 column">
  		</div>
  		<div class="col-md-2 column">
  		</div>
  	</div>
  	<div class="row clearfix">
  		<div class="col-md-2 column">
  		</div>
  		<div class="col-md-6 column">
  		</div>
  		<div class="col-md-2 column">
  		</div>
  		<div class="col-md-2 column">
  		</div>
  	</div>
  	<div class="row clearfix">
  		<div class="col-md-12 column">
  			<div class="row clearfix">
  				<div class="col-md-2 column">
  				</div>
  				<div class="col-md-8 column">
  				</div>
  				<div class="col-md-2 column">
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
