<import: src='./home'>
<import: src='./menu'>

<Title:>
  {{_page.title}}

<Body:>
  <view name="header"/>

  <view name="menu"/>

  <!-- content goes here -->
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <!-- here the view get rendered -->
        <view name="{{$render.ns}}"/>
      </div>
    </div>
  </div>

  <view name="footer" year="2014" />

<header:>
	<p class="spacer">

<footer:>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<hr />
				Copyright © 2014
			</div>
		</div>
	</div>
