<import: src="./home">
<import: src="./collection">
<import: src="./artists">
<import: src="./search">

<Title:>
  eMP - Temple

<Head:>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<Header:>
  <body class="{{dash($ns)}}">

  <ui:connectionAlert>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">

        <a class="brand" href="/">ZetCom</a>
        <div class="nav-collapse">
          <ul class="nav">
            <app:navLink title="Home" href="/">
            <app:navLink title="Search" href="/search">
            <app:navLink title="Collection" href="/collection/new">
            <app:navLink title="Artists" href="/artists">
          </ul>
        </div>
        <form class="navbar-form navbar-left" role="search" x-bind="submit: indexSearch">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" value="{_session.filter}" x-bind="change: indexSearch">
            <button type="button" class="btn btn-default" x-bind="click: indexSearch">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container-fluid">
    
<Footer:>
    </div>
  </div>
  <footer>
    <div class="container">
      <p>&copy; ZetCom {year}</p>
    </div>
  </footer>

<navLink:>
  <li class="{{#if equal($url, @href)}}active{{/}}">
    <a href="{{@href}}">{{@title}}</a>
  </li>
