<index:>

  <!-- link to open sidr : <a id="menuLeftPaneToggle" href="#sidr">Toggle menu</a> -->
  <!-- TODO: on page load, this page content blink very quickly - annoying! -->
  <!-- FIXME: move the style to CSS -->
  <div id="sidr" style="display: none;">
    
      <div class="row">
        <div class="col-sm-12"><b>Quick search</b></div>
      </div>

      <div class="row">
        <div class="col-sm-12"><input type="text" id="menuLeftPageSearchInput" class="form-control" value="{{_session.search}}"></div>
      </div>

      <div class="row">
        <div class="col-sm-12">Objects</div>
      </div>

      {{each _page.searchCollection}}
      <div class="row">
        <a href="/p/collection/{{this.id}}">
          <div class="col-sm-4">
            <img src="http://lorempixel.com/80/80/" alt="" class="img-thumbnail" width="80px" height="80px">
          </div>
          <div class="col-sm-8">
              <b>{{this.title}}</b><br />
              <span class="label label-primary">{{this.accessionNr}}</span><br />
              {{this.yearFrom}}{{if this.yearTo}} - {{this.yearTo}}{{/}}
          </div>
        </a>
      </div>
      {{/}}


  </div>

  <script>
  $(document).ready(function() {
    $('#menuLeftPaneToggle').sidr(function() {console.log('toggle')});
    $('#menuLeftPaneToggle').click(function() {
      $('#menuLeftPageSearchInput').focus();
    }
    )
  });

  keyboardListener.simple_combo("esc", function() {
    $.sidr('close', 'sidr');
  });

  keyboardListener.simple_combo("ctrl f", function() {
    $.sidr('open', 'sidr');
    $('#menuLeftPageSearchInput').focus();
  });

  </script>
  