<index:>
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/">zetcom</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <view name="nav-link" href="/">Home</view>
              <view name="nav-link" href="/p/collection">Collection</view>
              <view name="nav-link" href="/p/artist">Artist</view>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control">
              </div> 
              <a id="menuLeftPaneToggle" href="#sidr" class="btn btn-default">Search</a>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/help">Help</a>
              </li>
            </ul>
          </div>

        </nav>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12 column">
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12 column">
      </div>
    </div>
  </div>


<nav-link:>
  <li class="{{if $render.url === @href}}active{{/}}">
    <a href="{{@href}}">{{@content}}</a>
  </li>

