p.spacer
	height: 1px;

p
	padding: 5px;

.tab
	min-height: 100px;

.tab-pane
	margin-top: 7px; /* add space under tab TODO: not for phone devices? */

/*
.object
	// border: 1px solid lightgrey;

.object:hover
	// border: 1px solid darkgrey;
	background: lightgrey;
*/