p.spacer
	height: 1px;

p
	padding: 5px;

.tab
	min-height: 100px;

.tab-pane
	margin-top: 7px; /* add space under tab TODO: not for phone devices? */

/*
.object
	// border: 1px solid lightgrey;

.object:hover
	// border: 1px solid darkgrey;
	background: lightgrey;
*/

/* row spacer */
.spacer {
    margin-top: 10px;
}

#sidr .col-sm-4, #sidr .col-sm-8
	/* removed from source file jquery.sidr.light.css directly */
	padding-right: 0px;
	padding-left: 15px;

.sidr
	padding-left: 5px;
