<index:>

  <h1>Collections</h1>

  <div class="row">

    <!-- filter -->
    <div class="btn-group col-sm-6">
      <view name="filter-link" href="/collection">All</view>
      <view name="filter-link" href="/collection?filter=Orange">Orange</view>
      <view name="filter-link" href="/collection?filter=Purple">Purple</view>
      <view name="filter-link" href="/collection?filter=Red">Red</view>
    </div>

    <!-- sorting -->
    <div class="btn-group col-sm-6">
      <view name="filter-link" href="/collection">No</view>
      <view name="filter-link" href="/collection?sort=title">Title</view>
      <view name="filter-link" href="/collection?sort=yearFrom">Year from</view>
      <view name="filter-link" href="/collection?sort=accessionNr">Accession #</view>
    </div>

    <!-- order -->
    <!-- FIXME: ideally, order with a dropbox. But the bootstrap dropbox component doesn't support multiple action
    <label for='domain' class='col-sm-2 control-label'>Order</label>
    <dropdown class='col-sm-2' on-click='toggle(), changeOrder()' value='{{_page.orderChoice}}' options='{{_page.order}}' id='filter'></dropdown> -->

  </div>

  <div class="row-spacer"></div>

  <div class="row">
    <div class="col-sm-6">
      {{each _page.collection}}
      <div class="row spacer">
        <a href="/collection/{{this.id}}">
          <div class="col-sm-3">
            <img src="http://lorempixel.com/100/100/" alt="" class="img-thumbnail" width="100px" height="100px">
          </div>
          <div class="col-sm-9">
              <h4>{{this.title}}</h4>
              <span class="label label-primary">{{this.accessionNr}}</span><br />
              {{this.yearFrom}}{{if this.yearTo}} - {{this.yearTo}}{{/}}<br />
              {{this.materialTechnique}}<br />
          </div>
        </a>
      </div>
      {{/}}
    </div>
  </div>

  <div class="row-spacer"></div>

  <!-- TODO: pages -->
  <div class="btn-group">
    <button type="button" class="btn btn-default">1</button>
    <button type="button" class="btn btn-default">2</button>

    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        ...
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
      </ul>
    </div>
  </div>

  <div class="row-spacer"></div>


<filter-link:>
  <a href="{{@href}}" class='btn btn-default {{if $render.url === @href}}active{{/}}'>{{@content}}</a>
