<index:>

  <h1>Collections</h1>

  <div class="row">

    <!-- filter -->
    <div class="btn-group col-sm-6">
      <a href="#" class='btn btn-default disabled'>Filter :</a>
      <view name="filter-link" href="/collection">All</view>
      <view name="filter-link" href="/collection?domain=Orange">Orange</view>
      <view name="filter-link" href="/collection?domain=Purple">Purple</view>
      <view name="filter-link" href="/collection?domain=Red">Red</view>
    </div>

    <!-- sorting -->
    <div class="btn-group col-sm-6">
      <a href="#" class='btn btn-default disabled'>Sorty by :</a>
      <view name="filter-link" href="/collection">No</view>
      <view name="filter-link" href="/collection?sort=title">Title</view>
      <view name="filter-link" href="/collection?sort=yearFrom">Year from</view>
      <view name="filter-link" href="/collection?sort=accessionNr">Accession #</view>
    </div>

  </div>

  <div class="row-spacer"></div>

  <div class="row">
    <div class="col-sm-6">
      {{each _page.collection}}
      <div class="row spacer">
        <a href="/collection/{{this.id}}">
          <div class="col-sm-3">
            <!-- <img src="http://lorempixel.com/100/100/" alt="" class="img-thumbnail" width="100px" height="100px"> -->
            <img src="/files/{{this.file[0].fileName}}" title="{{this.file[0].fileOriginalFilename}}" class="img-thumbnail" width="100px" height="100px">
          </div>
          <div class="col-sm-9">
              <h4>{{this.title}}</h4>
              <span class="label label-primary">{{this.accessionNr}}</span><br />
              {{this.yearFrom}}{{if this.yearTo}} - {{this.yearTo}}{{/}}<br />
              {{this.materialTechnique}}<br />
          </div>
        </a>
      </div>
      {{/}}
    </div>
  </div>

  <div class="row-spacer"></div>

  <pager pageSize="{{_page.pagination.pageSize}}" total="{{_page.pagination.collectionCount}}" buttonsCount="{{_page.pagination.buttonsCount}}" on-pageChanged="pageChanged()" />
  <!-- Debug
  pageSize={{_page.pagination.pageSize}}
  count={{_page.pagination.collectionCount}}
  buttonsCount={{_page.pagination.buttonsCount}} -->
  
  <div class="row-spacer"></div>

<filter-link:>
  <a href="{{@href}}" class='btn btn-default {{if $render.url === @href}}active{{/}}'>{{@content}}</a>
