<index:>

  <h1>Collections</h1>

  <div class="col-sm-6">

    {{each _page.collection}}
    <div class="row spacer">
      <a href="/collection/{{this.id}}">
        <div class="col-sm-3">
          <img src="http://lorempixel.com/100/100/" alt="" class="img-thumbnail" width="100px" height="100px">
        </div>
        <div class="col-sm-9">
            <h4>{{this.title}}</h4>
            <span class="label label-primary">{{this.accessionNr}}</span><br />
            {{this.yearFrom}}{{if this.yearTo}} - {{this.yearTo}}{{/}}<br />
            {{this.materialTechnique}}<br />
        </div>
      </a>
    </div>
    {{/}}

  </div>
