<index:>

  <div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

      <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="jumbotron">
          <h1>Temple collection</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad alias aperiam at corporis cupiditate debitis dolorum enim mollitia nam nostrum optio, praesentium quo rem rerum sit tempora voluptate voluptatibus.</p>
        </div>
        <div class="row">
          {{getValue('a', 'b')}}
          {{each _page.collection}}
          <div class="col-sm-4 highlight">
            <a href="/collection/{{this.id}}">
            <!-- TODO: if test doesn't work here
            {{if this.file[0].fileName}}
            <img src="/files/{{this.file[0].fileName}}" title="{{this.file[0].fileOriginalFilename}}" class="img-circle" width="120px" height="120px">
            {{else}}
            <img src="http://lorempixel.com/120/120/" alt="" class="img-circle" width="120px" height="120px">
            {{/}}
            -->
            <img src="/files/{{this.file[0].fileName}}" title="{{this.file[0].fileOriginalFilename}}" class="img-circle" width="120px" height="120px">
            <h2>{{this.title}}</h2>
            <p>{{this.yearFrom}}{{if this.yearTo}} - {{this.yearTo}}{{/}}</p>
            <p>
              {{this.materialTechnique}}
            </p>
            <p class="badge">{{this.accessionNr}}</p>
            </a>
            <p><a class="btn btn-default" href="/collection/{{this.id}}">View détails</a></p>
          </div>
          {{/}}
        </div>
      </div>

      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="list-group">
          <a href="#" class="list-group-item active">Material & techniques</a>
          {{each _page.materialTechnique}}
            <a href="/collection?materialTechnique={{this._id}}" class="list-group-item">{{this._id}}</a>
          {{/}}
        </div>
      </div>
    </div>

  </div><!--/.container-->
